{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
Donut Chart
{% endblock %}


{% block body_block %}
<div class="col-xl-4 col-lg-5">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="chart-pie pt-4">
        <canvas id="myPieChart"></canvas>
      </div>
      <div class="mt-4 text-center small">
        <span class="mr-2">
          <i class="text-primary">Direct</i>
        </span>
        <span class="mr-2">
          <i class="text-success">Social</i>
        </span>
        <span class="mr-2">
          <i class="text-info">Referral</i>
        </span>
      </div>
      <hr>
      El estilo del Donut Chart está en el archivo
      <code>/static/js/chart-donut.js</code>.
    </div>
  </div>
</div>
{% endblock %}
